[run]
source = src/coral_mtl
branch = True
omit =
    src/coral_mtl/scripts/*

[report]
show_missing = True
skip_covered = False
precision = 1
exclude_lines =
    pragma: no cover
    if __name__ == .__main__:
